/* font link */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@500;700&family=Work+Sans:wght@700&display=swap');

body{
    font-family:'Work Sans', sans-serif;
    background-color: #FFFFFF;  
}
.{
box-sizing: border-box;
margin: 0;
padding: 0;
}
/* header */
.header{
  background-color:  #FF900E1A;
  width: 100%;
  height: 100%;
}
.header-title{
    display: flex;
    justify-content: space-between;
    padding: 20px 224px;
}
nav {
    display: flex;
}
nav ul{
    color: #424242;
    font-size: 15px;
    align-items: center;
    
}
/* header banner */
.banner-container{
  width: 100%;
  height: 100%;
  text-align: center;
  

}

.banner-name{
  color: #131313;
  font-weight: 700;

  
}
.banner-description{
  color:#727272;
  font-weight: 400;
font-size: 10px;
}
.btn-primary{
  color: #ffff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  margin-top: 50px;
  padding: 18px 35px;
  height: 54px;
  border-radius: 5px;
  background:#FF900E;
}
.img-banner{
  margin-top: 25px;
  border-radius: 10px;
}
/* team list */
.team-list-container{
  width: 342px;
  height: 342px;
  margin-top: 70px;
}
.team-list-box{
  display: flex;
  text-align: center;

  
}
.team-list{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 20px;
  justify-content: center;
  padding: 0 300px;
  border-radius: 8px;
}
.team-list img{
  width: 224px;
  height: 200px;
}
.team-details{
  text-align: center;
}
.team-title{
  color: #131313;
font-weight: 500;
font-size: 30px;
text-align: center;
}
.team-description{
  color: #727272;
  font-weight: 400;
  font-size: 10px;
}
.primary{
  color: #727272 ;
}
.primary-to{
  color: #FF900E ;
}
/* enjoy */
.enjoy{
  width: 542px;
  height: 1059px;
  margin-top: 200px;
  padding: 0 350px;
}
.enjoy-description{
  color: #727272;
  font-weight: 400;
  font-size: 10px;
}
.love{
  display: flex;
  gap: 400px;
  
}
.love-description {
  color: #727272;
  font: 1em sans-serif;
}
/* some fact */

.some-fact-title{
  width: 542px;
  height: 52px;
  margin-top: 400px;
  padding: 0 350px;
}
.some-fact-description{
  color: #727272;
  font-weight: 400;
  font-size: 10px;

}
.some-fact-container{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 200px;
  margin-top: 100px;
}
.some-content{
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0,0,0.06);
  border-radius: 5px;
  border: 1px solid #FF900E;

}
.some-content img{
  justify-content: center;
  width: 10px;
  height: 10px;

}
.some-title{
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align:center;
}
.some-description{
  color: #757575;
}
/* sponsor */
.my-sponsor{
margin-top: 300px;
}
.my-sponsor-title{
  text-align: center;
 margin-bottom: 50px;
}
.my-sponsor-banner{
color: #131313;
font-weight: 700;
}
.my-sponsor-description{
  color: #727272;
  font-weight: 400;
  font-size: 14px;
}
.sponsor-container{
  display: flex;
  gap: 120px;
  padding: 0 300px;
}
.sponsor-container img{
  
  mix-blend-mode: luminosity;
}
footer{
  background-color:  #FF900E1A;
  margin-top: 200px;
  text-align: center;
  width: 1440px;
  height: 100px;
  padding: 0 240px;
}